REGION_US_PORT=3001
REGION_EU_PORT=3002
REGION_APAC_PORT=3003
DB_NAME_US=incidents
DB_USER_US=user
DB_PASSWORD_US=pass
DB_NAME_EU=incidents
DB_USER_EU=user
DB_PASSWORD_EU=pass
DB_NAME_APAC=incidents
DB_USER_APAC=user
DB_PASSWORD_APAC=pass
REPLICATION_INTERVAL_SECONDS=2
REQUEST_TIMEOUT_SECONDS=2
